<!--
<context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
</context-param>






<!--==========================-->

<servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>com.demo.servlet.ServletContextDemo1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletContextDemo1</servlet-name>
<url-pattern>/servlet/ServletContextDemo1</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<servlet-name>ServletContextDemo2</servlet-name>
<servlet-class>com.demo.servlet.ServletContextDemo2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletContextDemo2</servlet-name>
<url-pattern>/servlet/ServletContextDemo2</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<servlet-name>ServletContextDemo3</servlet-name>
<servlet-class>com.demo.servlet.ServletContextDemo3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletContextDemo3</servlet-name>
<url-pattern>/servlet/ServletContextDemo3</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<servlet-name>ServletContextDemo4</servlet-name>
<servlet-class>com.demo.servlet.ServletContextDemo4</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletContextDemo4</servlet-name>
<url-pattern>/servlet/ServletContextDemo4</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<servlet-name>ServletContextDemo5</servlet-name>
<servlet-class>com.demo.servlet.ServletContextDemo5</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletContextDemo5</servlet-name>
<url-pattern>/servlet/ServletContextDemo5</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServletConfigDemo1</servlet-name>
<servlet-class>com.demo.servlet.ServletConfigDemo1</servlet-class>

<init-param>
    <param-name>name</param-name>
    <param-value>gacl</param-value>
</init-param>

<init-param>
    <param-name>password</param-name>
    <param-value>123</param-value>
</init-param>

<init-param>
    <param-name>charset</param-name>
    <param-value>UTF-8</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>ServletConfigDemo1</servlet-name>
<url-pattern>/servlet/ServletConfigDemo1</url-pattern>
</servlet-mapping>









<display-name>hellodemo</display-name>
<servlet>
<servlet-name>HelloServlet</servlet-name>
<servlet-class>com.demo.servlet.HelloServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HelloServlet</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>HelloWorld</servlet-name>
<servlet-class>com.demo.servlet.HelloWorld</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>HelloWorld</servlet-name>
<url-pattern>/HelloWorld/yes</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<description>This is the description of my J2EE component</description>
<display-name>This is the display name of my J2EE component</display-name>
<servlet-name>ServletDemo1</servlet-name>
<servlet-class>com.demo.servlet.ServletDemo1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletDemo1</servlet-name>
<url-pattern>/servlet/ServletDemo1</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<servlet-name>ServletDemo2</servlet-name>
<servlet-class>com.demo.servlet.ServletDemo2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletDemo2</servlet-name>
<url-pattern>/servlet/ServletDemo2</url-pattern>
</servlet-mapping>
        <!--==========================-->

<servlet>
<servlet-name>ServletDemo3</servlet-name>
<servlet-class>com.demo.servlet.ServletDemo3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletDemo3</servlet-name>
<url-pattern>/servlet/ServletDemo3</url-pattern>
</servlet-mapping>

        <!--==========================-->

<servlet>
<servlet-name>ServletDemo4</servlet-name>
<servlet-class>com.demo.servlet.ServletDemo4</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletDemo4</servlet-name>
<url-pattern>/servlet/ServletDemo4</url-pattern>
</servlet-mapping>


        <!--***************************-->
<servlet>
<servlet-name>ServletDemo5</servlet-name>
<servlet-class>com.demo.servlet.ServletDemo5</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletDemo5</servlet-name>
<url-pattern>/servlet/ServletDemo5</url-pattern>
</servlet-mapping>


        <!--***************************-->
<servlet>
<servlet-name>ServletDemo6</servlet-name>
<servlet-class>com.demo.servlet.ServletDemo6</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletDemo6</servlet-name>
<url-pattern>/servlet/ServletDemo6</url-pattern>
</servlet-mapping>


        <!--***************************-->
<servlet>
<servlet-name>myservlet</servlet-name>
<servlet-class>com.demo.servlet.day1.ServletDemo01</servlet-class>
<!--<load-on-startup>1</load-on-startup>-->

<init-param>
    <param-name>name</param-name>
    <param-value>dongfang</param-value>
</init-param>

<init-param>
    <param-name>password</param-name>
    <param-value>123456</param-value>
</init-param>

<init-param>
    <param-name>charset</param-name>
    <param-value>UTF-8</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>myservlet</servlet-name>
<url-pattern>/servlet/myservlet</url-pattern>
</servlet-mapping>

        -->